<div class="row collapse">
  <form ng-submit="getWeek(selected)">
    <div class="small-4 columns">
      <select ng-model="selected" ng-options="key for (key, value) in weeks"></select>
    </div>
    <div class="small-8 columns">
      <input class="button tiny" type="submit" value="search week">
    </div>
  </form>
</div>

<div class="row">
  <div class="small-12 columns matchup" ng-repeat="matchup in show_matches">
    <table ng-repeat="team in matchup">
      <thead>
        <tr>
          <th>Team</th>
          <th>Pick</th>
        </tr>
      </thead>
      <tbody>
        <tr >
         <td>{{team.name}}</td>
         <td class="pick" ng-click="setPick(team.id)">choose</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>