<div class="row">

  <div class="small-6 columns">
    <table>
      <thead>
        <tr>
          <th>Home Team</th>
          <th>Spread</th>
          <th>Pick</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>San Francisco 49ers</td>
          <td>+3</td>
          <td>Pick</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="small-6 columns">
    <table>
      <thead>
        <tr>
          <th>Away Team</th>
          <th>Spread</th>
          <th>Pick</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chicago Bears</td>
          <td>-3</td>
          <td>Pick</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>