{{matchups}}

<div class="row">

  <div class="small-6 columns">
    <table>
      <thead>
        <tr>
          <th>Home Team</th>
          <th>Spread</th>
          <th>Pick</th>
        </tr>
      </thead>
      <tbody>
        <tr >
         <td>{{match.home_team_id}}</td>
         <td>{{match.home_team_spread}}</td>
         <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="small-6 columns">
    <table>
      <thead>
        <tr>
          <th>Away Team</th>
          <th>Spread</th>
          <th>Pick</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
        </tr>
      </tbody>
    </table>
  </div>

</div>