<div class="row">

  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <td>{{currentUser.username}}</td>
        <td>{{currentUser.email}}</td>
      </tbody>
    </table>
  </div>
  
</div>