<div class="row">

  <div class="small-12 columns">
  <h1>Add New Matchup</h1>
   <form ng-submit="newMatchup(team)">
    <div class="row">

      <div class="small-12 columns">
        Week
        <input type="number" ng-model="team.week"/>
      </div>

      <div class="small-6 columns">
        Home Team
        <select ng-model="team.home_team" ng-options="team.name for team in teams"></select>
      </div>

      <div class="small-6 columns">
        Away Team
        <select ng-model="team.away_team" ng-options="team.name for team in teams"></select>
      </div>

      <div class="small-12 columns">
        <input type="submit" class="button small" value="add matchup">
      </div>

    </div>
   </form>
  </div>

</div>