<div class="row">

  <div class="small-12 columns">
    <h1>Register New User</h1>

    <form ng-submit="newUser(user)">
      email: <input type="email" ng-model="user.email"/>
      username: <input type="text" ng-model="user.username"/>
      password: <input type="password" ng-model="user.password"/>
      confirm password: <input type="password" ng-model="user.password_confirmation"/>

      <input type="submit" value="register">
    </form>

  </div>

</div>