<div class="row">

  <div class="small-12 columns">
  <h1>Add New Matchup</h1>
   <form ng-submit="newMatchup(team)">
    <div class="row">
      <div class="small-6 columns">
        Home Team
        <select ng-model="team.home_team" ng-options="team.name for team in teams"></select>
        Home Team Spread
        <input ng-model="team.home_team_spread" ng-value="away_team_spread" type="number"/>
      </div>

      <div class="small-6 columns">
        Away Team
        <select ng-model="team.away_team" ng-options="team.name for team in teams"></select>
        Away Team Spread
        <input ng-model="team.away_team_spread" ng-value="home_team_spread" type="number"/>
      </div>

      <div class="small-12 columns">
        <input type="submit" class="button small" value="add matchup">
      </div>
    </div>
   </form>
  </div>

</div>