<div class="row">

  <div class="small-12 columns">
    <h1>Login</h1>

    <form ng-submit="loginUser(user)">
      email: <input type="email" ng-model="user.email"/>
      password: <input type="password" ng-model="user.password"/>

      <input type="submit" value="register">
    </form>

  </div>

</div>